<!DOCTYPE html> 
<html> 
    <head> 
        <title>topot</title> 
    </head> 
    
    <body> 
        <form action="/area-calculator" method="POST"› 
        <div> 
            <label>What is the length of the rectangle?</label> 
            <input type="text" name="length"><br> 
            <label>What is the width of the rectangle?</label> 
            <input type="text" name="width"› 
        </div> 
            <div> <input type="submit" value="Submit"› </div> 
        </body> 
        </html> 
